@charset "UTF-8";

/*
 * Style sheets for home page.
 *
 * Author: Si Huang
 * Modified by: Katie Stolee
 *
 */
body {
    width: 90%;
    min-width: 600px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Times New Roman", Times, serif;
    background-color: #FFFFFF
}

ul.normallist {
    margin: 10px 10px 15px 20px;
    padding: 0px;
    list-style-position: outside; /* Put the item marks inside. */
    list-style-type: disc; /* Use a filled circle as an item mark. */
}

li.normalitem {
    margin-bottom: 10px;
}

ul.compactlist {
    margin: 10px 10px 10px 20px;
    padding: 5px;
    list-style-position: outside; /* Put the item marks inside. */
    list-style-type: disc; /* Use a filled circle as an item mark. */
}

li.compactitem {
    margin: 0px;
}

p {
    margin: 8px 2px 8px 2px;
}
pemph {
    margin: 16px 4px 16px 4px;
    font-weight: italic;
    background-color: #D78EF5;
    font-size: 18px;
    padding-top: 3px;
        padding-bottom: 3px;
            padding-left: 3px;
                padding-right: 3px;
}
pindent {
    padding-left:25px
}

img {
    border-width: 0px;
}

/*
 * Header.
 */
table.header {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

td.header-title {
    text-align: left;
    font-size: 40px;
    width: 75%;
}

td.header-icon {
    text-align: right;
    width: 25%;
}

/*
 * Navigation bar.
 */
.navbar {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;
    border-spacing: 0px 0px;
    vertical-align: top;
    width: 100%;
}

.navitem {
    margin: 0px;
    padding: 2px 0px 2px 0px;
    border-left: 1px solid #808080;
    text-align: center;
    font-weight: bold;
    background-color: #D8F3C9; /*#87ceeb;*/
    width: 120px;
}

.navitem:hover {
    background-color: #9CC089;
    text-decoration: underline;
}

.navitem a {
    color: #000000;
    text-decoration: none;
}

.navitem-current {
    background-color: #9CC089;
}

/*
 * This is the section bar in the text.
 */
.bar {
    clear: both;
    margin: 5px 0px 0px 0px;
    padding: 2px 0px 2px 8px;
    /* font-size: 20px; */
    font-weight: bold;
    background-color: #D889B8;
}

.subbar {
    clear: both;
    margin: 5px 5px 5px 25px;
    padding: 2px 0px 2px 8px;
    /* font-size: 20px; */
    font-weight: bold;
    background-color: #D889B8;
}

.barinactive {
    clear: both;
    margin: 5px 0px 0px 0px;
    padding: 2px 0px 2px 8px;
    /* font-size: 20px; */
    font-weight: bold;
    background-color: #EBC2DB;
}


img#photo {
    float: left;
    border-width: 0px;
    margin: 5px 2px 5px 2px;
    padding: 0px 10px 0px 0px;
}

table.links {
    border-spacing: 2px 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

td.links {
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/*
 * Footer.
 */
table.footer {
    margin: 5px 0px 0px 0px;
    padding: 3px 0px 2px 0px;
    border-top: 2px solid #d3d3d3;
    border-spacing: 2px 0px;
    width: 100%;
}

td.verified {
    vertical-align: top;
    text-align: left;
}

td.signature {
    vertical-align: top;
    font-size: 12px;
    text-align: right;
}

/*
#google {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  vertical-align: bottom;
}
*/
